# Server config
PORT=8081

# Oracle Database
DB_HOST=localhost
DB_PORT=1521
DB_NAME=FREEPDB1
DB_USER=system
DB_PASSWORD=your_password

# Cloudinary config
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
